<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
<ion-toolbar>
  <ion-input placeholder="Artist, Song or Podcast"></ion-input>
</ion-toolbar>
</ion-header>


<ion-content>
  <ion-header>
    <ion-title>Los generos que mas te gustan</ion-title>

<ion-item color="secondary">
  <ion-label>
    First Color Item
  </ion-label>
</ion-item>
<ion-item color="danger">
  <ion-label>
    Second Color Item
  </ion-label>
</ion-item>
<ion-item color="primary">
  <ion-label>
    Third Color Item
  </ion-label>
</ion-item>
  </ion-header>



</ion-content>
