<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons>
    

      <ion-avatar class="Avatar" style="margin: 1px auto;">
        <img src="https://cdn-icons-png.flaticon.com/512/4139/4139948.png">
      
      </ion-avatar>
  
        <ion-title class="Titulo" slot="start">Tu Biblioteca</ion-title>      
    </ion-buttons>

    <ion-chip class="Playlists">
    <ion-padding class="Text1">
      Playlists
    </ion-padding>
  </ion-chip>
  <ion-chip class="Albumes">
    <ion-padding class="Text2">
      Albumes
    </ion-padding>
  </ion-chip>
  <ion-chip class="Artistas">
    <ion-padding class="Text3">
      Artistas
    </ion-padding>
  </ion-chip>











   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>

</ion-content>
